#game {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#statusBar {
    width: auto;
    padding: 1px;
    padding-left: 5px;
    margin: 1px;
    border: 1px solid black;
}

.derivStatus {
    line-height: 0;
    display: inline;
}

.derivStatusRight {
    width:auto;
    margin-left: auto;
    display: inline;
    text-align: right;
}

#xAxisStatus {
    width: 25%;
}

.axisStatus {
    width: 24%;
    margin: 0;
    border: 0;
    border-right: 1px solid black;
    display: inline-block;
}

#wAxisStatus {
    border: 0;
}

.axisStatusTitle {
    font-weight: bolder;
    text-align: center;
}

#mainTabBar {
    margin: 1px;
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
}

.mainTabButton {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 100px;
    margin: 1px;
    display: inline-block;
}

.mainTabButton:hover {
    border: 1px solid blue;
}

.mainTabButton:active {
    border: 1px solid blue;
    color: blue;
}

.activeTab {
    border: 1px solid red;
    color: red;
}

#xPosTabBar, #yPosTabBar, #zPosTabBar, #wPosTabBar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.xPosTabButton, .yPosTabButton, .zPosTabButton, .wPosTabButton {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 8%;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
}

.xPosTabButton:hover, .yPosTabButton:hover, .zPosTabButton:hover, .wPosTabButton:hover {
    background-color: #EEE;
}

.xPosTabButton:active, .yPosTabButton:active, .zPosTabButton:active, .wPosTabButton:active {
    background-color: #DDD;
}

.xActivePosTab, .yActivePosTab, .zActivePosTab, .wActivePosTab {
    font-weight: 700;
    border: 2px solid black;
}

#footerBar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 1px;
    border: 1px solid black;
    padding: 0;
    background-color: white;
}

#title {
    position: relative;
    right: 5px;
    text-align: right;
    display: block;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.derivativeTabButton {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: white;
    border: 2px outset;
    display: block;
}

.derivativeTabButton:hover {
    background-color: #EEE;
}

.derivativeTabButton:active {
    background-color: #DDD;
}

#elementTable {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: left;
    width: 80%;
    height: 100%;
    position: relative;
    top:0px;
    bottom: 0px;
    border-collapse: collapse;
}

#elementTableRow {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
}

#elementTableRow td{
    margin: none;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    line-height: auto;
    padding:10px;
    vertical-align: top;
}

#elementTab {
    position: relative;
    top: 0px;
    bottom: 0px;
}

#yAxisStatus, #zAxisStatus, #wAxisStatus, #xAxisTitleStatus, #xVelocityStatus, #xAccelerationStatus, #xJerkStatus, #xSnapStatus, #xCrackleStatus, #xPopStatus, #xLockStatus, #xDropStatus, #derivStatusRightVelocity, #derivStatusRightAcceleration, #derivStatusRightJerk, #derivStatusRightSnap, #derivStatusRightCrackle, #derivStatusRightPop, #derivStatusRightLock, #derivStatusRightDrop {
    visibility:hidden;
}

#elementTabButton {
    display:none;
}